body {
  font-family: 'Titillium Web', sans-serif;
}


/*CUSTOM BUTTON CSS  START==================================================*/

.btn-primary {
  background-color: #F99600;
  border-color: #F99600;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.btn-primary:hover {
  background-color: #f99500c2;
  border-color: #F99600;
}


.btn-secondary {
  background-color: #F92200;
  font-weight: bold;
  color: #fff;
}


.btn-secondary:hover {
  background-color: #F92200;
}

/*CUSTOM BUTTON CSS  END==================================================*/


/*FORM ELEMENT CUSTOM CSS START ================================================== */

.form-wrapper {
  max-width: 400px;
  margin: 60px auto 0px;
  border-radius: 30px;
  padding: 20px 50px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(245, 245, 245, 1);
  -moz-box-shadow: 1px 1px 3px 2px rgba(245, 245, 245, 1);
  box-shadow: 1px 1px 3px 2px rgba(245, 245, 245, 1);
}


.form-wrapper input {
  border: none;
  font-size: 13px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.05);

}

.form-wrapper input::placeholder {
  color: #D6D6D6;
}


.logo-holder {
  text-align: center;
  margin-bottom: 50px;
}


.forgot-password {
  text-decoration: none;
  color: #D6D6D6;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.forgot-password:hover {
  color: #F99600;
}


/*FORM ELEMENT CUSTOM CSS END ================================================== */